
    <div class="list-group" *ngFor="let post of posts; let i = index">
      <div class="list-group-item" [ngStyle]="{ backgroundColor: getColor(i) }">
        <h3 class="list-group-item-heading">
          {{ post.title }}
        </h3>
        <p class="list-group-item-text" style="margin-bottom: 20px; font-size:0.8em">{{ post.created | date: "short" }}</p>
        <p style="font-weight: bold;">{{ post.content }}</p>
        <img style="max-width:200px; max-height:200px;" *ngIf="post.photo" [src]="post.photo">
        <button class="btn btn-default pull-right" (click)="onDeletePost(post)" style="margin: -10px !important;">
          Supprimer ce post
        </button>
        <p class="list-group-item-text" style="margin-top:20px; font-style: italic">{{ post.author }}</p>
      </div>
      <button class="btn btn-success" (click)="onLove(i)">Love it</button>
      <button class="btn btn-danger" (click)="onDont(i)">Don't love it</button>
    </div>
